<%= form_for(@user) do |f| %>
  <div class="fields" style="padding-top:7px;">
    <div class="field">
      <%= f.label "First Name" %>
      <%= f.label "Last Name", :class => "lname" %><br />
      <%= f.text_field :first_name, :style => "width:100px; margin-right:15px" %>
      <%= f.text_field :last_name, :style => "width: 100px;" %>
    </div>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %>
    </div>
    <%= hidden_field :user, :id, :value => @user.id %>
  </div>
  <div class="next_button">
    <%= f.submit "Next", :type => :image, :src => "/assets/next_button.png" %>
  </div>
<% end %>
