<div id="welcome">
  Welcome to NomAddress <%= @user.first_name%>!
  
  <p id="instruction">Select the address you would like to update below!</p>
  <p> or </p>
  <%= link_to "Add a new one!", new_address_path %>
 </div>

<div id="user_box">
  <div id="buttons">
  <p id="notice" style="text-align:center"><%= notice %></p>	
   <div id="buttons">
	<% home = nil %>
	<% office = nil %>  	
	<% school = nil %>  	
	<% travel = nil %>  	
	<% other = nil %> 	
	<% @user.addresses.each do |a| %>  	
		<% if a.category == "Home" %> 	
			<% home = a %>
		<% elsif a.category == "Office" %>
			<% office = a %>
		<% elsif a.category == "School" %>
			<% school = a %>
		<% elsif a.category == "Travel" %>
			<% travel = a %>
		<% else %>
			<% other = a %>
		<% end %>
	<% end %>  	
<%= render :partial => "addressDisplay.html.erb", :locals => {:home => home, :office => office, :school => school, :travel => travel, :other => other} %>

  </div>

  <!-- Tweet Button -->
  <p> Let you friends know you just updated your address with NomAddress.com! </p>
  <a href="https://twitter.com/share" class="twitter-share-button" data-text="<%= @user.first_name%> has changed the address using NomAddress.com!"  data-size="large" data-count="none" data-lang="en">Tweet</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
  


  <div class="clear"></div>

</div>

