<div id="welcome">
  Welcome to NomAddress <%= @user.first_name%>!
  
  <p id="construction">The site is currently under construction, but you will be hearing from us soon!</p>
 </div>

<%= link_to "ABOUT PAGE", "/about" %>

<div id="address">

  <% @user.addresses.each do |a| %>
    <%= render "addresses/quickshow.html.erb", :@address => a %>
  <% end %>
</div>
<div id="user_box">
  <div id="buttons">
  	<%= render "addressDisplay.html.erb" %>
  </div>

  <div style="float:right">
  <%= button_to "Update", :controller => "users", :action => "run_update", :address_id => @user.addresses.first.id %>
      
  <!-- Tweet Button -->
  <a href="https://twitter.com/share" class="twitter-share-button" data-text="<%= @user.first_name%> has changed the address using NomAddress.com!"  data-size="large" data-count="none" data-lang="en">Tweet</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
  
</div>


  <div class="clear"></div>

</div>

