<% driver_license = @dmv_subscribable.new_record? ? "" : @dmv_subscribable.driver_license %>
<% ssn = @dmv_subscribable.new_record? ? "" : @dmv_subscribable.ssn %>
<% county = @dmv_subscribable.new_record? ? "" : @dmv_subscribable.county %>

<%= form_for(@dmv_subscribable, :url => {:controller => :subscriptions, :action => :create}) do |f| %>
  <%= f.hidden_field :address_id, :value => @dmv_subscribable.address_id %>
  <div class="field">
    <%= f.label :driver_license %><br />
    <%= f.text_field :driver_license, :value => driver_license%>
  </div>
  <div class="field">
    <%= f.label "Last 4 of SSN" %><br />
    <%= f.text_field :ssn, :value => ssn %>
  </div>
  <div class="field">
    <%= f.label :county %><br />
    <%= f.text_field :county, :value => county %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
