<p id="notice"><%= notice %></p>

<p>
  <b>Subscriber:</b>
  <%= @subscription.subscribable_type %>
</p>

<p>
  <b>Address:</b>
  <%= @subscription.address.line1 %>
</p>


<%= link_to 'Edit', edit_subscription_path(@subscription) %> |
<%= link_to 'Back', subscriptions_path %>
