<p id="notice"><%= notice %></p>

<p>
  <b>Subscriber:</b>
  <%= @subscription.subscribable.type %>
</p>

<p>
  <b>Address:</b>
  <%= render "./../addresses/quickshow.html.erb", :address => @subscription.address %>
</p>


<%= link_to 'Edit', edit_subscription_path(@subscription) %> |
<%= link_to 'Back', subscriptions_path %>
