<script>

  $(function() {
    $( ".next_button button:first" ).button({icons: { primary: null, secondary: "ui-icon-arrowthick-1-e" } }) });
  
</script>

<%= form_for(@address) do |f| %>
  <div class="fields">
    <div class="field">
      <%= f.label "Street" %>
      <%= f.label "Apt #", :class => "apt_label" %><br />
      <%= f.text_field :line1 %>
      <%= f.text_field :line2, :class => "apt_text" %>
    </div>
    <div class="field">
      <%= f.label :city %><br />
      <%= f.text_field :city, :style => "width: 60%;" %>
    </div>
    <div class="field">
      <%= f.label :state %>
      <%= f.label "Zip", :style => "padding-left: 148px;" %><br />
      <%= f.text_field :state, :style => "width: 120px;" %>
      <%= f.text_field :zip, :style => "margin-left: 50px; width: 60px;" %>
    </div>
    <div class="field">
      <%= f.label "Expected Move Date" %>
      <%= date_select("valid_until", :valid_until, :order => [:day, :month, :year]) %>
    </div>
  </div>


  <div class="next_button">
    <button>Next</button>
  </div>

<% end %>
