<!DOCTYPE html>
<html>
<head>
  <title>NomAddress <%=@title || ""%></title>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js" %>
  <%= stylesheet_link_tag    "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class= 'header'>
    <%- link = current_user ? user_path(current_user) : root_path -%>
    <a href=<%= link %> class="img_link"><img src='/assets/chopped-logo.png'/></a>
    <div style="float:right;padding-right:10px">
      <% if current_user %>
        <%= link_to 'logout', logout_path %>
      <% else %>
         <%= link_to 'login', login_path %>
      <% end %>
    </div>
  </div>
	<div class = "clear"></div>
<div class="content">
<div class="push_header">
</div>
  <section>
    <%= yield %>
  </section>
<div class="push_footer"></div>
</div>
  <div class='footer'>
    <div class = "fword"><%= render 'layouts/footer' %></div>
  </div>
</body>
</html>
