<!DOCTYPE html>
<html>
<head>
  <title>NomAddress</title>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.17/jquery-ui.min.js" %>
  <%= stylesheet_link_tag    "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<style type="text/css">
	a.img_link:hover {background-color:transparent !important;}
	.footer {
		position: absolute;
		bottom: 70px;
    		left: 50%;
    		margin-left: -100px;

	}
</style>

  <div class= 'header'>
    <img src='/assets/chopped-logo.png'/>
    <div style="float:right">
      <% if current_user %>
        <%= link_to 'logout', logout_path %>
      <% else %>
         <%= link_to 'login', login_path %>
      <% end %>
    </div>
  </div>
  <%= yield %>
  <br>
  <br>
  <div class='footer' style="text-align:center;">
  	<%= render 'layouts/footer' %>
  </div>
  <img id='clouds'src="/assets/clouds.png" style="z-index:-1"/>
    
</body>
</html>
